<div class= "container">
    <h2>Edit movie</h2>

    <form #edituserform = "ngForm" (ngSubmit)="editMovieformsubmit()">
        
        <div class="form-group">
            <label for="id">id</label>
            <input type="text" class="form-control" required [(ngModel)]="movie.movieId" name ="id" disabled>
        </div>
        <div class="form-group">
            <label for="name">Title:</label>
            <input type="text" class="form-control" required [(ngModel)]="movie.movieName" name ="name">
        
        </div>
        <div class="form-group">
            <label for="name">Theme:</label>
            <input type="text" class="form-control" required [(ngModel)]="movie.movieTheme" name ="theme">
        
        </div>
        <div class="form-group">
            <label for="name">IMDb Rating:</label>
            <input type="text" class="form-control" required [(ngModel)]="movie.movieRating" name ="rating">
        
        </div>
        <button type="submit" class="btn btn-success">Update</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="gotolist()">Back</button>
    </form>
</div>